In [97]:
import pandas as pd

In [98]:
df = pd.read_csv('adult.data.csv')
# df.head()

In [113]:
race_count = df['race'].value_counts().to_list()
race_count

[27816, 3124, 1039, 311, 271]

In [110]:
# average_age_men = df[df['sex'] =='Male']
# average_age_men = average_age_men['age'].mean()
# average_age_men = {'average_age_men':round(average_age_men,1)}
average_age_men = {'average_age_men': round(df[df['sex'] == 'Male']['age'].mean(), 1)}
type(average_age_men['average_age_men'])

float

In [101]:
percentage_bachelors = {'percentage_bachelors': round(df['education'].value_counts()['Bachelors']/df['education'].value_counts().sum()*100,1)}
# percentage_bachelors['percentage_bachelors']

In [102]:
adv_edu = df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters')| (df['education'] == 'Doctorate')]
higher_education_rich = {'higher_education_rich':round(adv_edu[adv_edu['salary'] == '>50K'].shape[0]/adv_edu.shape[0]*100,1)}
# higher_education_rich['higher_education_rich']

In [103]:
low_edu = df[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')]
lower_education_rich = {'lower_education_rich':round(low_edu[low_edu['salary'] == '>50K'].shape[0]/low_edu.shape[0]*100,1)}
# lower_education_rich['lower_education_rich']

In [104]:
min_work_hours = {'min_work_hours':df['hours-per-week'].min()}
# min_work_hours['min_work_hours']

In [105]:
min_rich = df[df['hours-per-week'] == 1]
rich_percentage = {'rich_percentage': int(round(min_rich[min_rich['salary'] == '>50K'].shape[0]/min_rich.shape[0]*100,1))}
# rich_percentage['rich_percentage']

In [106]:
country_rich = df[df['salary'] == '>50K']
highest_earning_country = {'highest_earning_country':country_rich['native-country'].value_counts().to_frame().idxmax().item()}
# highest_earning_country['highest_earning_country']

In [107]:
country_rich = df[df['salary'] == '>50K']
# country_rich['native-country'].value_counts()
highest_earning_country_percentage = {'highest_earning_country_percentage':round(country_rich['native-country'].value_counts()['United-States']/country_rich['native-country'].value_counts().sum()*100,1)}
# highest_earning_country_percentage['highest_earning_country_percentage']

In [108]:
india = df[(df['salary'] == '>50K') & (df['native-country'] == 'India')]
top_IN_occupation = {'top_IN_occupation':india['occupation'].value_counts().to_frame().idxmax().item()}
# top_IN_occupation['top_IN_occupation']